body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.header{
      display: flex;
      border: 1px solid red;
      align-items: center;
  }

  .logo{
      border: 1px solid red;
  }

  .links{
      margin-left: auto;
      border: 1px solid red;
      display: flex;
  }

  ul {
    list-style-type: none;
  }