body {
    min-height: 100vh;
    margin: 0;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
  }

.header{
      display: flex;
      border: 1px solid red;
      align-items: center;
      padding: 10px;
      height: 4%;
  }

.logo{
      border: 1px solid red;
  }

.links{
      margin-left: auto;
      border: 1px solid red;
      display: flex;
      padding: 0px;
      gap: 10px;
  }

ul {
    list-style-type: none;
  }

.content1{
    border: 1px solid red;
    display: flex;
    padding: 10px 0px;
  }

.left{
  flex: 1;
}

.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content1 button{
  margin-top: 10px;
}

.content2{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content3{
  border: 1px solid red;
  padding: 40px 20px;
}

.quote{
  padding-left: 10%;
}

.signature{
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  padding-top: 20px;
}

.content4{
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.container{
  display: flex;
}

.container .left{
  flex: 2;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid red;
}