body {
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

.header{
      display: flex;
      align-items: center;
      padding: 10px 10%;
      height: 4%;
      background-color: #1F2937;
      position: sticky;
      top: 0;
      z-index: 100;
  }

.logo{
      font-size: 24px;
      color: #f9faf8;
  }

a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.links{
      margin-left: auto;
      display: flex;
      padding: 0px;
      gap: 15px;
  }

ul {
    list-style-type: none;
  }

.tab{
  padding-left: 5px;
  padding-right: 5px;
}

.tab:hover{
  background-color: #304158;
  border-radius: 5px;
}

.tab:active{
  background-color: #243143;
}

.content1{
    display: flex;
    flex-wrap: wrap;
    padding: 130px 10%;
    background-color:#1F2937 ;
    color: #e5e7eb;
    font-size: 24px;
  }

.headline{
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.left{
  flex: 1;
  padding-right: 5px;
}

.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    margin: 15px;
  }

.right img{
  max-width: 100%;
  max-height: auto;  
  object-fit: scale-down;
  min-width: 45vw;
  
}

.content1 button{
  margin-top: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  font-size: 24px;
  padding: 3px 30px;
}

.content1 button:hover{
  border-radius:5px;
  background-color: #3069c5;
  border: solid #f9faf8 2px;
}

.content1 button:active{
  background-color: #375b94;
}

.content2{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding: 100px 11% 130px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 36px;
  color: #1F2937;
  padding-bottom: 80px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic{
  border: 3px solid #3882f6;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.pic img{
  max-width: 100%;
  max-height: auto;
  border-radius: 7px;
  }

.text{
  padding: 10px;
}

.content3{
  padding: 130px 10%;
  background-color: #e5e7eb;
}

.quote{
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937
}

.signature{
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.content4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  
}

.container{
  display: flex;
  background-color: #3882f6 ;
  padding: 30px 100px;
  border-radius: 7px;
  min-width: 50vw;
  color:#f9faf8;
}

.container .right{
  background-color: #3882f6;
}

.container .left{
  flex: 2;
}

.containter, button{
  background-color: #3882f6 ;
  border: #f9faf8 2px solid;
  color:#f9faf8;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 8px;
}

.right > button:hover {
  border-radius: 5px;
  border: #f9faf8 3px solid;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #4f8df0;
}

.right > button:active{
  background-color: #3c81f0;
}

.bold{
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
}

.under{
  font-size: 18px;
  font-weight: thin;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1F2937;
  color:#f9faf8;
  font-size: 13px;
}